.THIS.table {
    border-collapse: collapse;
    border: 1px solid black;
}
.THIS.uiButton.buttonClass {
    background: url(/resource/UpArrow) no-repeat;    
}

.THIS .arrow-down {
  width: 0; 
  height: 0; 
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;  
  border-top: 7px solid black;
}

.THIS .arrow-up {
  width: 0; 
  height: 0; 
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;  
  border-bottom: 7px solid black;
}

.THIS .slds-button--neutral {
    background-color: rgb(255, 255, 255);
    border: 0px;
    padding-left: 0rem;
    padding-right: 0rem;
    text-align: center;
    vertical-align: middle;
}